attrs
click
dnspython
flasgger
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
joblib
jsonschema
MarkupSafe
mistune
numpy
pandas
pymongo
pyrsistent
python-dateutil
pytz
pywin32
PyYAML
scikit-learn
scipy
six
sklearn
threadpoolctl
Werkzeug
